@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  background: url("images/background.jpg");
  margin: 0px;
  padding: 0px;
}

/*=============== header =====================================================*/
header {
  background: #d0dae2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
  z-index: 100;
}

.logo {
  display: flex;
}
.logo h1 {
  color: #007AFF;
  font-size: 35px;
  font-weight: 800;
  margin-right: 20px; 

}
.logo h1 span {
  color: #312ECB;
  font-weight: 500;
}


#search-box {
  max-width: 400px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  flex-grow: 1; /* Allow the search box to take up remaining space */
  margin-right: 20px;
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
}

.search-input::placeholder {
  color: lightgray;
}

#search-icon {
  color: #111;
  cursor: pointer;
  padding-right: 10px;
}

.search-results {
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.search-result {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  grid-template-areas:
      "img name"
      "img price";
}

.search-result img {
  grid-area: img;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.active-search {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


nav {
  display: flex;
  gap: 30px;
  margin-left: 25px;
  margin-right: 30px;
}
nav a {
  color: black;
  font-size: 20px;
  transition: 0.3s;
}
nav a:hover {
  color: #312ECB;
  background-color: rgba(255, 255, 255, 0.51);
}

#menu {
  display: none;
}
@media (max-width: 768px) {
  nav {
      margin-left: 0;
      margin-right: 0; 
      position: absolute;
      top: 40px;
      backdrop-filter: blur(50px); 
      left: 0;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 0;
      transition: 0.5s;
      overflow: hidden;
  }
  nav a:nth-child(1) {
      margin-top: 20px;
  }

  #hamburgermenu {
      width: 35px;
      height: 20px;
      position: relative;
  }
  #hamburgermenu div {
      width: 100%;
      height: 4px;
      background: #312ECB;
      position: absolute;
      transform: translateY(-50%);
      border-radius: 999px;
      transition: 0.3s;
      transform: scale(1);
  }
  #hamburgermenu div:nth-child(1) {
      top: 0;
  }
  #hamburgermenu div:nth-child(2) {
      top: 50%;
  }
  #hamburgermenu div:nth-child(3) {
      top: 100%;
  }

  input:checked + header nav {
      height: 100vh;
  }
  input:checked + header #hamburgermenu div:nth-child(1) {
      transform: rotate(45deg);
      top: 50%;
  }
  input:checked + header #hamburgermenu div:nth-child(3) {
      transform: rotate(-45deg);
      top: 50%;
  }
  input:checked + header #hamburgermenu div:nth-child(2) {
      transform: scale(0);
      opacity: 0;
  }
}


/*=============== body =====================================================*/

.slider-container {
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 50px 0px;
}

.product-slider{
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500vw;
  padding-top: 20px;
}

.product-slider-heading{
  font-size: 28px;
  text-transform: uppercase;
  color: #313131;
  text-align: center;
  margin: 0px;
}

.product-box{
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin: 0px 20px;
  transition: transform 0.3s ease-in-out;
}
.product-box:hover {
  transform: scale(1.05);
}

.p-img-container{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.p-img a,
.p- img{
width: 100%;
height: 200px;
display: flex;
}

.p-img a img{
  object-position: center;
  object-fit: contain;
}

.p-box-text{
  margin-top: 5px;
  width: 100%;
}

.product-category{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product-category span{
  color: #acacac; 
  font-size: 0.9rem;
  margin: 5px 0px;
}

.product-title{
  color: #333333;
  font-weight: 600;
  text-decoration: none;
  transition: all ease 0.3s;
}

.product-title:hover{
  color: #111111;
  opacity: 0.7;
  transition: all ease 0.3s;
}

.price-buy{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin-top: 8px;
}

.price-buy .p-price{
  font-size: 1.3rem;
  color: #333333;
  font-weight: 70YY0;
}

.price-buy .p-buy-btn{
color: #e63b3b;
margin: 0px 5px;
font-weight: 600;
}
.price-buy .p-buy-btn:hover{
  text-decoration: underline;
}

.product-details {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  background-color: #333;
  border: none;
  border-radius: 5px;
  outline: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
@media (max-width: 768px) {
  .prev, .next {
      font-size: 14px;
      padding: 12px;
  }
}
